name: Build Android APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Find and Build APK
        run: |
          # Ye command gradlew file dhoondegi aur build shuru karegi
          GRADLEW_PATH=$(find . -name gradlew | head -n 1)
          if [ -z "$GRADLEW_PATH" ]; then
            echo "Error: gradlew file nahi mili! Kya aapne pura code upload kiya hai?"
            exit 1
          fi
          chmod +x $GRADLEW_PATH
          cd $(dirname $GRADLEW_PATH)
          ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Generated-APK
          path: "**/build/outputs/apk/debug/*.apk"
